/* Colors: */
:root {
	--white: #ffffff;
	--black: #000000;
	--text-black: #161616;
	--text-black-secondary: #5d5d5d;
	--grey: #c7c7c7;
	--text-link: #004cff;
	--error-color: #e10000;
	--success-color: #008111;
	--error-bg: #ffefef;
	--primary-color: #cc6d00;
}
