html.has-smooth-scroll #main-wrapper {
	height: 100vh;
	width: 100%;
	overflow: hidden;
}
[data-parallax-image] {
	position: relative;
	overflow: hidden;
	backface-visibility: hidden;

	img {
		position: absolute;
		left: 0;
		top: -30%;
		height: 130%;
		object-fit: cover;
	}
}

[data-text-reveal] {
	position: relative;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;

	> div {
		position: relative;
	}

	.text-reveal-parent {
		overflow: hidden;
	}

	.text-reveal-child {
		display: inline-block;
	}
}
